# What's the Price of Wheat?

<img src="http://www.ictinternational.com/content/uploads/2015/02/wheat1.jpg" width=640 height=480/>

## Project Background and Motivation

We chose to create a predictor of the stock price of wheat because of the ever-pervasive fluctuation in food prices. Wheat is among one of the most fundamental agricultural commodities in the United States, so understanding and ultimately predicting the price of this commodity will allow us to understand an essential part of our economic ecosystem. Our team has diverse backgrounds in engineering and science, so we wanted to choose a topic that has profound global implications. One of the grand challenges identified by the leaders of the U.N. and world bank is the shortage of food in our ever growing population. We thought it would be interesting for us to be able to build predictive forecasting of the stock price of this key commodity as this framework is a proof of principle for forecasting the price of any other agricultural commodity of choice.

In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

# Cleaning Data
We will be using precipitation, temperature, [fill in additional features here] to predict the price of wheat. Let's clean our data before using it in our model.

### 1.1 Precipitation Data

In [27]:
dirtyprecdf=pd.read_csv("stationprec.csv")
dirtyprecdf.head()

    Station ID  Year   Jan   Feb  March April   May  June  July August September October November December
0  AQC00914000  1981  4279  3745  10762  6067  4096  3606  6203   5292      3092    6866     7163     7866
1  AQC00914000  1982  5039  9643   3211  2016  3355  2827  3199   9356      4150    6418     3965     1595
2  AQC00914000  1983  3351  2971   3044  2642  1644  1717  1020   1788      3433    6801     2531     7242
3  AQC00914000  1984  3368  3538   8187  2715  2916  3288  1246   3391      2932    6578     4787     9787
4  AQC00914000  1985  5202  3078   3279  8414  2884  4787  3447   3193      5296    5410     3950     1651

There are a few things in the precipitation dataframe that we want to change. The numbers in each month need to be interpreted, since it is often in the form ####F. There are also some results with -9999M, which we want to get rid of, since those indicate missing data. We want to get rid of the letters and turn the number into an understandable inch unit. According to the readme from our source, each number is the number of 1/100ths of an inch (e.g. 1486 = 14.86 inches)

In [28]:
precdf=dirtyprecdf
# remove the -9999M rows, the F, and turn numbers to inch values
for col in precdf:
    if (col!="Station ID" and col!= "Year"):
        precdf= precdf[precdf[col] != '-9999M']
        precdf[col]=precdf[col].map(lambda x: x.rstrip("F"))
        precdf[col]=precdf[col].map(lambda x: float(x)/100.00)
precdf.head()

/Users/fanneyzhu/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/fanneyzhu/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Station ID  Year    Jan    Feb   March  April    May   June   July  August  September  October  November  December
0  AQC00914000  1981  42.79  37.45  107.62  60.67  40.96  36.06  62.03   52.92      30.92    68.66     71.63     78.66
1  AQC00914000  1982  50.39  96.43   32.11  20.16  33.55  28.27  31.99   93.56      41.50    64.18     39.65     15.95
2  AQC00914000  1983  33.51  29.71   30.44  26.42  16.44  17.17  10.20   17.88      34.33    68.01     25.31     72.42
3  AQC00914000  1984  33.68  35.38   81.87  27.15  29.16  32.88  12.46   33.91      29.32    65.78     47.87     97.87
4  AQC00914000  1985  52.02  30.78   32.79  84.14  28.84  47.87  34.47   31.93      52.96    54.10     39.50     16.51
5  AQC00914000  1986  85.73  42.12   27.99  70.95  50.12  31.35  38.78   29.89      63.68    47.40     43.12     83.10
6  AQC00914000  1987  51.46  76.48   39.54  35.73  31.18  27.88  20.43   34.98       8.41    26.69     22.98     62.08
7  AQC00914000  1988  33.36  47.98   49.08  44.00  42.97  28.17  38.78   25.48      37.92    46.45     59.69     89.15
8  AQC00914000  1989  55.23  58.06   32.73  53.88  36.72  30.79  41.66    2.09       7.88    49.82     63.79     37.31
9  AQC00914000  1990  49.32  68.57   32.88  45.18  16.35  35.98  22.14   15.41      26.11    54.39     45.25     35.30

Station IDs aren't really helpful to us, and instead we want to convert this to the states that each station is in.

In [29]:
statiddf=pd.read_csv("statid.csv")
statiddf=statiddf[['Station ID', 'State']]
statid={}
for index, row in statiddf.iterrows():
    statid[row['Station ID']]=row['State']
# hard code some values that aren't in the station id list, but appear in precdf
statid['USC00085612']='FL'

In [31]:
state = []
for id in precdf['Station ID']:
    state.append(statid[id])
precdf['state'] = state
precdf=precdf.drop('Station ID', axis=1)
precdf.head()

   Year    Jan    Feb   March  April    May   June   July  August  September  October  November  December State
0  1981  42.79  37.45  107.62  60.67  40.96  36.06  62.03   52.92      30.92    68.66     71.63     78.66    AS
1  1982  50.39  96.43   32.11  20.16  33.55  28.27  31.99   93.56      41.50    64.18     39.65     15.95    AS
2  1983  33.51  29.71   30.44  26.42  16.44  17.17  10.20   17.88      34.33    68.01     25.31     72.42    AS
3  1984  33.68  35.38   81.87  27.15  29.16  32.88  12.46   33.91      29.32    65.78     47.87     97.87    AS
4  1985  52.02  30.78   32.79  84.14  28.84  47.87  34.47   31.93      52.96    54.10     39.50     16.51    AS

Now let's modify the column names. We want to standardize the name of months to the abbreviated month names.

In [33]:
precdf.columns = ['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 
                  'Sep', 'Oct', 'Nov', 'Dec', 'State']
precdf.head()

   Year    Jan    Feb     Mar    Apr    May    Jun    Jul    Aug    Sep    Oct    Nov    Dec State
0  1981  42.79  37.45  107.62  60.67  40.96  36.06  62.03  52.92  30.92  68.66  71.63  78.66    AS
1  1982  50.39  96.43   32.11  20.16  33.55  28.27  31.99  93.56  41.50  64.18  39.65  15.95    AS
2  1983  33.51  29.71   30.44  26.42  16.44  17.17  10.20  17.88  34.33  68.01  25.31  72.42    AS
3  1984  33.68  35.38   81.87  27.15  29.16  32.88  12.46  33.91  29.32  65.78  47.87  97.87    AS
4  1985  52.02  30.78   32.79  84.14  28.84  47.87  34.47  31.93  52.96  54.10  39.50  16.51    AS

Now group the rows by state and year.

In [35]:
prec_grouped = precdf.groupby(['State','Year']).mean().reset_index()
prec_grouped.head()

  State  Year        Jan       Feb       Mar       Apr       May       Jun        Jul        Aug        Sep        Oct        Nov        Dec
0    AK  1981  15.683362  8.257069  8.708879  3.853276  4.915259  6.550172  10.535862  15.486552  12.651207  12.820948  12.226121   7.486121
1    AK  1982   5.100342  3.618462  5.281624  5.847863  6.187179  5.819829   7.964359   6.752137  15.152222  11.733419   9.297863   9.896068
2    AK  1983   7.984655  6.574655  2.432241  7.119828  6.262931  4.087155   6.538879  13.819310  10.171466  13.382414   8.525172   3.358017
3    AK  1984  12.432069  8.805259  6.767759  5.168362  4.187759  6.101121   8.322500  10.346638   8.663448   9.372586   7.268966  10.093190
4    AK  1985  15.284348  7.119652  8.681217  5.548087  5.936609  7.537130   5.375565  10.198435  13.984087   9.077913   4.656261  15.266783

### 1.2 Temperature Data

Now that we have cleaned the data for the precipitation, we follow a similar procedure for temperature. Since the temperature data is from the same source, we will follow almost exactly the same procedure.

In [37]:
dirtytempdf=pd.read_csv("stationtemp.csv")

In [40]:
# remove the -9999M rows, convert to degrees celsius
for col in dirtytempdf:
    if (col!="Station" and col!= "Year"):
        dirtytempdf= dirtytempdf[dirtytempdf[col] != '-9999M']
        dirtytempdf[col]=dirtytempdf[col].map(lambda x: float(x)/100.00)

In [43]:
# find averages for each state each year, and replace 'Station' with 'State'
# trying to optimize runtime, so storing last station ID, and State value to minimze list searching
%%time
last_stat=('statid','state')
dirtytempdf.rename(columns={'Station':'State'}, inplace=True)
i=0
for index, row in dirtytempdf.iterrows():
    if index%10000==0:
        print 
        index
    if (last_stat[0] != dirtytempdf['State'][index]):
        state=statid[row['State']]
        last_stat=(dirtytempdf['State'][index],state)
        dirtytempdf['State'][index]=state
    else:
        dirtytempdf['State'][index]=last_stat[1]
dirtytempdf.head()

SyntaxError: invalid syntax (<ipython-input-43-730e926f3f4e>, line 3)

In [44]:
tdf=dirtytempdf.groupby(['State','Year']).mean().reset_index()

In [45]:
tdf

     State  Year        Jan        Feb        Mar       Apr        May        Jun        Jul        Aug        Sep       Oct       Nov         Dec
0       AK  1981  -7.316923 -10.849936  -2.146795 -0.466090   7.246795  11.301154  12.566090  11.463397   6.910577 -0.061474  -7.999615 -11.240769
1       AK  1982 -10.096667 -12.740577  -6.355897 -3.707115   4.874872  10.444679  13.082628  11.590128   7.221410 -3.105769 -10.229295  -7.180000
2       AK  1983 -10.949359  -9.052115  -6.856731 -1.559167   6.256795  11.532115  13.462115  11.002885   6.548077 -0.134551  -6.825641  -8.156731
3       AK  1984  -9.910449 -10.662051  -4.902692 -0.588718   6.524423  11.626667  13.034487  11.729359   7.952244  1.275385  -7.563333 -10.658910
4       AK  1985  -7.611731 -10.805769  -4.969167 -1.978077   6.095833  10.585897  13.630897  11.520577   6.658910 -2.034872 -10.239231  -7.453141
5       AK  1986 -14.249103  -9.054231  -8.436218 -1.005705   6.271795  11.427564  13.800705  11.938141   8.632692  0.615449  -9.357885  -6.661538
6       AK  1987 -11.177949 -13.390192  -5.334359  0.910128   7.198205  11.196282  13.571667  12.937628   7.433910  0.373910 -10.005577 -11.839038
7       AK  1988 -11.770385  -9.302564  -6.103590  0.414936   6.838333  11.586667  13.255641  11.353526   7.934808 -1.215641  -8.665321  -9.423782
8       AK  1989 -13.934968 -10.375097  -6.601097  0.337226   5.417097  11.458194  14.438710  12.680194   5.787161 -1.266968  -8.512065 -10.032129
9       AK  1990 -13.171731 -12.929231  -4.614231  2.455962   8.081154  12.093910  14.583205  12.959615   7.465449  0.566731  -9.072564  -9.837692
10      AK  1991 -10.583718 -11.246410  -6.500385  0.960833   6.976346  11.942628  13.007436  12.120256   7.666154 -0.397756  -9.403462 -11.432692
11      AK  1992 -10.756839 -11.020968  -8.385355  0.831161   6.282968  11.960323  13.717935  11.581484   6.680903 -0.369613  -7.542387 -11.508258
12      AK  1993 -14.467742  -9.947806  -4.899677  1.273032   7.734710  12.007290  14.657871  11.796129   6.451742 -1.658581  -7.437032 -10.763548
13      AK  1994 -12.222662  -8.087662  -8.451623  0.828377   6.866623  11.789675  14.334221  13.671623   8.025779 -2.250714  -7.441234 -11.586364
14      AK  1995 -12.445260  -8.367532  -6.563247  2.549675   7.728182  11.788766  13.526364  11.594935   8.864935  0.430714  -7.723701 -11.932468
15      AK  1996 -16.260000 -13.498442  -6.184740  0.217078   6.951558  11.842403  13.753377  11.788052   7.029416 -2.241494  -9.112078 -13.413636
16      AK  1997 -13.658117  -5.749416  -5.873701  0.772532   6.700390  12.387532  13.926818  12.079545   8.146623 -1.473896  -4.614805  -8.935065
17      AK  1998  -9.501494  -7.298896  -4.462338  1.345455   5.668506  11.687597  13.703896  11.593896   7.624156 -0.392922  -7.814026 -13.244805
18      AK  1999 -11.512987 -12.314610  -7.826104 -1.812532   6.167078  11.702922  13.491558  12.104545   8.021429  1.039286  -4.866364  -9.715584
19      AK  2000 -11.186688  -5.070974  -5.926753  0.266818   5.915649  11.941104  13.254416  11.432597   6.329026  1.120649  -5.958442  -9.428312
20      AK  2001 -10.907532  -6.952338  -6.900325  0.955649   6.390974  13.105844  13.468247  12.846364   6.826169 -0.109221  -6.843247 -11.429870
21      AK  2002 -10.107468  -9.310390  -4.595455 -0.698636   8.130714  11.859416  13.796948  12.214351   8.588182  1.842338  -6.109545  -7.369675
22      AK  2003 -12.008506  -7.244870  -8.177662  0.612143   6.794286  11.682857  13.942727  12.139026   7.789740  2.693831 -10.512468 -10.292468
23      AK  2004 -13.281438  -9.380196 -10.742353  1.393660   7.841111  13.168366  14.892157  14.526471   7.431307  0.440261  -4.350784  -9.619346
24      AK  2005 -12.545882 -11.075294  -4.549542  0.582157   8.013464  12.109477  13.384641  12.363595   7.974641 -1.304183  -9.630588  -9.874118
25      AK  2006 -14.897908  -9.873529  -8.809673 -1.048235   7.026667  11.248954  13.754510  11.068627   8.354575  2.242810 -11.143203  -9.290523
26      AK  2007 -11.734118  -8.828235  -9.658431  1.522614   6.827255  12.061830  13.637647  13.412549   7.768954  0.190000  -4.508562 -12.826209
27      AK  2008  -8.436429  -9.752987  -3.770779 -1.116753   7.328571  10.499805  12.438701  11.239870   6.859675 -0.899026  -7.693052 -12.172338
28      AK  2009 -15.672078 -11.541753  -7.859740 -1.267013   6.670584  11.304545  14.245649  11.359935   8.029805 -0.632013  -8.819545  -9.338636
29      AK  2010 -12.956169  -8.141623  -6.184805  1.068312   7.580325  11.051948  12.732468  11.933571   7.232857  0.217208  -5.690325 -12.815390
...    ...   ...        ...        ...        ...       ...        ...        ...        ...        ...        ...       ...        ...        ...
1726    WY  1981  -4.259466  -3.335573   1.396336  5.944733   9.260992  15.296183  19.919847  19.394656  13.301603  4.689924   0.988168  -6.494046
1727    WY  1982  -9.091908  -6.690763  -0.752443  4.723511  10.071527  14.031069  19.457710  18.192137  11.116412  4.998626  -4.606565  -7.343435
1728    WY  1983  -3.691603  -2.675954   1.748321  3.581374   8.477405  15.597863  19.045878  19.299084  12.984656  7.466947  -1.578244  -9.360763
1729    WY  1984  -7.151603  -3.177634  -0.619771  4.163359  11.678626  15.328397  19.583664  18.082519  11.605649  4.523511   0.086794  -6.505115
1730    WY  1985  -9.106794  -6.369160  -0.290229  6.512443  11.949313  17.519618  20.216794  18.009160  10.833664  6.959466  -3.890992  -7.016641
1731    WY  1986  -5.174504  -7.502901   2.393893  5.368779  10.330382  16.578244  19.415267  18.515267  10.853206  6.491679  -0.505267  -5.930000
1732    WY  1987  -4.851832  -3.746031   0.121603  8.091221  10.935496  16.391832  19.063359  17.685496  14.793435  7.360534   0.771069  -8.496031
1733    WY  1988  -8.469084  -2.311527   0.122748  6.462061  11.707481  18.743053  20.537405  19.731527  13.237405  7.598550  -1.480840  -5.373817
1734    WY  1989  -5.408702  -5.973969   1.813588  6.646641  11.376641  15.687557  19.553817  17.662290  12.737863  6.796489  -0.321374  -7.874504
1735    WY  1990  -6.723206  -6.916870   0.636870  5.704427  10.354733  15.593817  17.639160  17.910992  13.770458  6.441145  -1.246412  -6.902443
1736    WY  1991  -6.254198  -3.423435   1.309466  4.356947  10.831221  15.969313  19.134504  19.361756  13.372061  7.182901  -2.639695  -3.961069
1737    WY  1992  -4.826336  -0.680840   2.295802  6.542824  11.538779  15.199313  17.249466  18.160000  13.692672  7.337176  -1.070687  -6.482901
1738    WY  1993  -8.864122  -6.961527  -0.824198  4.682519  10.866412  14.366412  17.259008  17.106947  12.057023  5.952595  -2.430000  -5.018779
1739    WY  1994  -5.699618  -5.161603   1.669160  4.576641  12.226718  17.504809  19.469924  19.815802  15.286565  6.076183  -1.849695  -4.383817
1740    WY  1995  -5.128015  -1.565344  -0.494198  4.180992   8.674275  13.639237  19.802824  19.982366  14.523664  6.534809   1.925191  -4.356565
1741    WY  1996  -5.555878  -2.384962  -0.679466  5.035573   9.135954  16.397176  19.701908  19.548550  11.586794  6.277786   0.173282  -4.783359
1742    WY  1997  -5.861756  -3.163664   1.743435  3.653664  11.291832  15.486794  19.223969  18.708168  13.261679  7.117710  -3.362595  -7.014504
1743    WY  1998  -5.943664  -5.016870  -0.318473  5.670916  11.400229  13.574580  20.847557  19.580916  15.350534  6.407176   0.716641  -5.275115
1744    WY  1999  -5.013664  -3.435954  -0.134427  3.677786   8.964809  15.409008  20.738321  18.383664  12.835649  6.826031   2.924962  -3.198779
1745    WY  2000  -3.506336  -3.658626   1.643969  7.079618  11.330076  15.709313  21.363893  20.943511  12.857634  7.115115  -4.914275  -5.268092
1746    WY  2001  -6.421603  -5.844122   1.487099  6.063359  11.510305  15.868931  20.338550  19.193130  14.683130  7.638702   1.338092  -4.348244
1747    WY  2002  -5.199924  -3.796718  -1.301603  5.617710  10.248702  16.924504  21.345191  18.061832  13.333664  5.432824   0.047557  -4.898702
1748    WY  2003  -1.953893  -5.936260  -0.177328  6.887786  10.700687  15.428931  22.445954  19.907863  12.483206  8.313740  -1.944962  -4.428855
1749    WY  2004  -7.724885  -4.130382   3.500382  6.305191  11.010916  15.281221  20.555802  18.425878  13.388550  7.077405   0.053740  -5.022824
1750    WY  2005  -6.624580  -3.249008   0.162214  4.042290   9.674733  14.785802  20.607710  18.308855  13.326870  7.124885   1.946107  -7.187786
1751    WY  2006  -3.667328  -4.110458  -0.517939  6.517328  11.645191  17.216794  20.634351  18.160916  12.761832  4.689084   0.490305  -6.934351
1752    WY  2007  -7.299008  -5.061832   3.109084  5.380229  10.437405  16.903511  21.014046  19.299466  13.322748  7.948397   0.425878  -6.172443
1753    WY  2008  -6.029542  -4.139924   0.090840  5.194427   9.770000  15.046336  20.182595  18.665649  12.913817  6.385573   1.769771  -5.660992
1754    WY  2009  -6.942214  -4.472290   0.300153  3.049847  10.307023  13.604885  18.742366  18.619924  14.480687  3.398092   0.187481  -7.712061
1755    WY  2010  -4.297863  -3.917176   1.994885  3.821374   7.698931  14.656031  19.305649  20.116336  14.178168  8.436412  -1.195878  -8.811069

[1756 rows x 14 columns]

In [46]:
tdf.to_csv("tempdf.csv", index=False)