# Cleaning Inflation Dataset  (All values in percentages)

In [32]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd

Store raw inflation dataset in data frame

In [33]:
inflation_df = pd.read_csv("data/inflationdata.csv")

In [34]:
inflation_df.head()

,Unnamed: 0,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1990,1.03%,0.47%,0.55%,0.16%,0.23%,0.54%,0.38%,0.92%,0.84%,0.60%,0.22%,0.00%
1,1991,0.60%,0.15%,0.15%,0.15%,0.30%,0.29%,0.15%,0.29%,0.44%,0.15%,0.29%,0.07%
2,1992,0.15%,0.36%,0.51%,0.14%,0.14%,0.36%,0.21%,0.28%,0.28%,0.35%,0.14%,-0.07%
3,1993,0.49%,0.35%,0.35%,0.28%,0.14%,0.14%,0.00%,0.28%,0.21%,0.41%,0.07%,0.00%
4,1994,0.27%,0.34%,0.34%,0.14%,0.07%,0.34%,0.27%,0.40%,0.27%,0.07%,0.13%,0.00%

In [43]:
# rename column names for easy calling (retrieval)
inflation_df.columns = ['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
# Iterate through the data and remove the % from the inflation rates to only have the values of percentages in the table
for col in inflation_df:
        if (col!="Year"):
            inflation_df[col]=inflation_df[col].map(lambda x: x.replace("%", ""))
inflation_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sept,Oct,Nov,Dec
0,1990,1.03,0.47,0.55,0.16,0.23,0.54,0.38,0.92,0.84,0.60,0.22,0.00
1,1991,0.60,0.15,0.15,0.15,0.30,0.29,0.15,0.29,0.44,0.15,0.29,0.07
2,1992,0.15,0.36,0.51,0.14,0.14,0.36,0.21,0.28,0.28,0.35,0.14,-0.07
3,1993,0.49,0.35,0.35,0.28,0.14,0.14,0.00,0.28,0.21,0.41,0.07,0.00
4,1994,0.27,0.34,0.34,0.14,0.07,0.34,0.27,0.40,0.27,0.07,0.13,0.00
5,1995,0.40,0.40,0.33,0.33,0.20,0.20,0.00,0.26,0.20,0.33,-0.07,-0.07
6,1996,0.59,0.32,0.52,0.39,0.19,0.06,0.19,0.19,0.32,0.32,0.19,0.00
7,1997,0.32,0.31,0.25,0.12,-0.06,0.12,0.12,0.19,0.25,0.25,-0.06,-0.12
8,1998,0.19,0.19,0.19,0.18,0.18,0.12,0.12,0.12,0.12,0.24,0.00,-0.06
9,1999,0.24,0.12,0.30,0.73,0.00,0.00,0.30,0.24,0.48,0.18,0.06,0.00
10,2000,0.30,0.59,0.82,0.06,0.12,0.52,0.23,0.00,0.52,0.17,0.06,-0.06
11,2001,0.63,0.40,0.23,0.40,0.45,0.17,-0.28,0.00,0.45,-0.34,-0.17,-0.39
12,2002,0.23,0.40,0.56,0.56,0.00,0.06,0.11,0.33,0.17,0.17,0.00,-0.22
13,2003,0.44,0.77,0.60,-0.22,-0.16,0.11,0.11,0.38,0.33,-0.11,-0.27,-0.11
14,2004,0.49,0.54,0.64,0.32,0.59,0.32,-0.16,0.05,0.21,0.53,0.05,-0.37
15,2005,0.21,0.58,0.78,0.67,-0.10,0.05,0.46,0.51,1.22,0.20,-0.80,-0.40
16,2006,0.76,0.20,0.55,0.85,0.50,0.20,0.30,0.20,-0.49,-0.54,-0.15,0.15
17,2007,0.31,0.54,0.91,0.65,0.61,0.19,-0.03,-0.18,0.28,0.21,0.59,-0.07
18,2008,0.50,0.29,0.87,0.61,0.84,1.01,0.53,-0.40,-0.14,-1.01,-1.92,-1.03
19,2009,0.44,0.50,0.24,0.25,0.29,0.86,-0.16,0.22,0.06,0.10,0.07,-0.18
20,2010,0.34,0.02,0.41,0.17,0.08,-0.10,0.02,0.14,0.06,0.12,0.04,0.17
21,2011,0.48,0.49,0.98,0.64,0.47,-0.11,0.09,0.28,0.15,-0.21,-0.08,-0.25
22,2012,0.44,0.44,0.76,0.30,-0.12,-0.15,-0.16,0.56,0.45,-0.04,-0.47,-0.27
23,2013,0.30,0.82,0.26,-0.10,0.18,0.24,0.04,0.12,0.12,-0.26,-0.20,-0.01
24,2014,0.37,0.37,0.64,0.33,0.35,0.19,-0.04,-0.17,0.08,-0.25,-0.54,-0.57
25,2015,-0.47,0.43,0.60,0.20,0.51,0.35,0.01,-0.14,-0.16,0.17,NA,NA