# Cleaned Cotton Price

In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [5]:
cottonprice_df=pd.read_csv("../data/cottonprice.csv")
cottonprice_df.head()


#rename column names for easy calling (retrieval)
cottonprice_df.columns = ['month-year', 'price', 'change']
cottonprice_df = cottonprice_df[~cottonprice_df['month-year'].isin(['Month'])]

# Split the Month and the Year
month = []
year = []
for row in cottonprice_df['month-year']:
    suffix_year = row.split('-')
    month.append(suffix_year[0])
    if suffix_year[1][0] == '9':
        year.append('19'+suffix_year[1])
    else:
        year.append('20'+suffix_year[1])
cottonprice_df['Month'] = month
cottonprice_df['Year'] = year

# remove month-year column 
cottonprice_df.drop('month-year', axis=1)

# rearrange columns 
cottonprice_df = cottonprice_df[['Month', 'Year', 'price','change']]

# remove extranneous numbers of first row
cottonprice_df.drop(cottonprice_df.columns[0], axis=1)
cottonprice_df.columns = ['Month', 'Year', 'Price','change']

In [6]:
cottonprice_df.head

<bound method DataFrame.head of     Month  Year  Price   change
1     Nov  1990  82.43        -
2     Dec  1990  83.86    1.73%
3     Jan  1991  83.71   -0.18%
4     Feb  1991  84.88    1.40%
5     Mar  1991  84.23   -0.77%
6     Apr  1991  83.43   -0.95%
7     May  1991  84.17    0.89%
8     Jun  1991  83.84   -0.39%
9     Jul  1991  81.02   -3.36%
10    Aug  1991  73.47   -9.32%
11    Sep  1991  70.33   -4.27%
12    Oct  1991  67.94   -3.40%
13    Nov  1991   64.1   -5.65%
14    Dec  1991  61.76   -3.65%
15    Jan  1992  59.62   -3.47%
16    Feb  1992   56.3   -5.57%
17    Mar  1992  55.33   -1.72%
18    Apr  1992  57.99    4.81%
19    May  1992  60.59    4.48%
20    Jun  1992  63.89    5.45%
21    Jul  1992  65.29    2.19%
22    Aug  1992  59.75   -8.49%
23    Sep  1992  56.65   -5.19%
24    Oct  1992  53.12   -6.23%
25    Nov  1992  52.69   -0.81%
26    Dec  1992     54    2.49%
27    Jan  1993  57.29    6.09%
28    Feb  1993  60.55    5.69%
29    Mar  1993  61.45    1.49%
30    Apr  1993  61.07   -0.62%
..    ...   ...    ...      ...
271   May  2013  92.62    0.09%
272   Jun  2013  93.08    0.50%
273   Jul  2013  92.62   -0.49%
274   Aug  2013  92.71    0.10%
275   Sep  2013  90.09   -2.83%
276   Oct  2013  89.35   -0.82%
277   Nov  2013  84.65   -5.26%
278   Dec  2013  87.49    3.35%
279   Jan  2014  90.96    3.97%
280   Feb  2014  94.05    3.40%
281   Mar  2014  96.95    3.08%
282   Apr  2014   94.2   -2.84%
283   May  2014  92.71   -1.58%
284   Jun  2014   90.9   -1.95%
285   Jul  2014  83.84   -7.77%
286   Aug  2014     74  -11.74%
287   Sep  2014  73.38   -0.84%
288   Oct  2014  70.34   -4.14%
289   Nov  2014  67.53   -3.99%
290   Dec  2014   68.3    1.14%
291   Jan  2015  67.35   -1.39%
292   Feb  2015  69.84    3.70%
293   Mar  2015  69.35   -0.70%
294   Apr  2015   71.7    3.39%
295   May  2015  72.86    1.62%
296   Jun  2015  72.35   -0.70%
297   Jul  2015  72.35    0.00%
298   Aug  2015  71.82   -0.73%
299   Sep  2015  68.74   -4.29%
300   Oct  2015  69.03    0.42%

[300 rows x 4 columns]>

In [7]:
cottonprice_df.to_csv('../cleaned_data/cottonprice_df.csv')