# Corn Price Cleaned Data

In [70]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

Store corn commodity price data set into data frame. Data obtained from: http://www.indexmundi.com/commodities/?commodity=corn&months=300

In [71]:
cornprice_df=pd.read_csv("data/cornPrice_perMonth_1990_2015.csv")

In [72]:
cornprice_df.head()

  Maize (corn) - Monthly Price Unnamed: 1 Unnamed: 2
0                        Month      Price     Change
1                       Nov-90        100          -
2                       Dec-90     102.36      2.36%
3                       Jan-91     105.51      3.08%
4                       Feb-91     106.29      0.74%

In [73]:
# rename column names for easy calling (retrieval)
cornprice_df.columns = ['month-year', 'price', 'change']
cornprice_df = cornprice_df[~cornprice_df['month-year'].isin(['Month'])]

# Split the Month and the Year
month = []
year = []
for row in cornprice_df['month-year']:
    suffix_year = row.split('-')
    month.append(suffix_year[0])
    if suffix_year[1][0] == '9':
        year.append('19'+suffix_year[1])
    else:
        year.append('19'+suffix_year[1])
cornprice_df['Month'] = month
cornprice_df['Year'] = year

# remove month-year column 
cornprice_df.drop('month-year', axis=1)

# rearrange columns 
cornprice_df = cornprice_df[['Month', 'Year', 'price','change']]

# remove extranneous numbers of first row
cornprice_df.drop(cornprice_df.columns[0], axis=1)
cornprice_df.columns = ['Month', 'Year', 'Price','change']

In [74]:
cornprice_df

    Month  Year   Price   change
1     Nov  1990     100        -
2     Dec  1990  102.36    2.36%
3     Jan  1991  105.51    3.08%
4     Feb  1991  106.29    0.74%
5     Mar  1991  109.05    2.60%
6     Apr  1991  110.23    1.08%
7     May  1991  105.74   -4.07%
8     Jun  1991  105.11   -0.60%
9     Jul  1991  105.73    0.59%
10    Aug  1991  110.12    4.15%
11    Sep  1991  108.85   -1.15%
12    Oct  1991  109.52    0.62%
13    Nov  1991   106.8   -2.48%
14    Dec  1991  106.72   -0.07%
15    Jan  1992  109.59    2.69%
16    Feb  1992  113.92    3.95%
17    Mar  1992  116.68    2.42%
18    Apr  1992  109.06   -6.53%
19    May  1992  109.18    0.11%
20    Jun  1992   110.2    0.93%
21    Jul  1992  102.39   -7.09%
22    Aug  1992   97.54   -4.74%
23    Sep  1992   98.22    0.70%
24    Oct  1992   94.56   -3.73%
25    Nov  1992   95.17    0.65%
26    Dec  1992   94.04   -1.19%
27    Jan  1993    94.1    0.06%
28    Feb  1993   94.25    0.16%
29    Mar  1993   97.54    3.49%
30    Apr  1993  100.49    3.02%
..    ...   ...     ...      ...
271   May  1913  295.29    5.36%
272   Jun  1913  297.06    0.60%
273   Jul  1913  278.93   -6.10%
274   Aug  1913  234.89  -15.79%
275   Sep  1913  207.41  -11.70%
276   Oct  1913  201.73   -2.74%
277   Nov  1913  199.14   -1.28%
278   Dec  1913   197.5   -0.82%
279   Jan  1914  198.72    0.62%
280   Feb  1914  209.32    5.33%
281   Mar  1914  222.33    6.22%
282   Apr  1914  222.36    0.01%
283   May  1914  216.92   -2.45%
284   Jun  1914  202.56   -6.62%
285   Jul  1914  182.23  -10.04%
286   Aug  1914  176.43   -3.18%
287   Sep  1914  163.06   -7.58%
288   Oct  1914  163.31    0.15%
289   Nov  1914  178.67    9.41%
290   Dec  1914  178.67    0.00%
291   Jan  1915  174.71   -2.22%
292   Feb  1915   173.7   -0.58%
293   Mar  1915  174.23    0.31%
294   Apr  1915  172.05   -1.25%
295   May  1915   166.3   -3.34%
296   Jun  1915  166.72    0.25%
297   Jul  1915   179.6    7.73%
298   Aug  1915  162.74   -9.39%
299   Sep  1915  166.01    2.01%
300   Oct  1915  171.39    3.24%

[300 rows x 4 columns]